<form action="{% url 'contacts:Update_Contact' key %}" method="post">
    {% csrf_token %}
    <div class="input-group mb-2 shadow bg-white">
        {{ updateForm.contact_first_name }}
        {{ updateForm.contact_last_name }}
    </div>
    <div class="input-group mb-2 shadow bg-white">
        {{ updateForm.contact_company }}
        {{ updateForm.contact_job }}
    </div>
    <div class="input-group mb-2 shadow bg-white">
        {{ updateForm.contact_email }}
        {{ updateForm.contact_phone }}
    </div>
    <div class="input-group mb-2 shadow bg-white">
        {{ updateForm.contact_notes }}
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Update contact</button>
        </div>  
    </div>
</form>